/*CSS BUTTONS*/
.init_button{
	position: relative; 
    z-index: 1;
    overflow: visible; 
    display: inline-block; 
    padding: 0.3em 0.6em 0.375em; 
    border: 1px solid #999; 
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none; 
    text-align: center;
    font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif; 
    white-space: nowrap; 
    cursor: pointer; 
    -webkit-border-radius: 0px;
	border-radius: 0px;
    /* outline: none; */
    color: #333; 
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
    background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background-image: linear-gradient(#f5f6f6, #e4e4e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3'); /* for IE 6 - 9 */
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.init_button:hover {
	text-decoration: none;
}

.init_button:active {
	background-image: none;
}

.init_small_button{
	height:16px;
}
.white {
	border-color: #999 #999 #888;
	color: #333;
	background-color: #eee;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
	background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
	background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
	background-image: linear-gradient(#f5f6f6, #e4e4e3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3');
 /* for IE 6 - 9 */
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
}

.white:active{
	background-color: #e3e3e3;
}

.green {
	border-color: #3b6e22 #3b6e22 #2c5115;
	color: #fff;
	background-color: #69a74e;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75ae5c), to(#67a54b));
	background-image: -moz-linear-gradient(#75ae5c, #67a54b);
	background-image: -o-linear-gradient(#75ae5c, #67a54b);
	background-image: linear-gradient(#75ae5c, #67a54b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75ae5c', EndColorStr='#67a54b');
 /* for IE 6 - 9 */
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
}

.green:active {
	background-color: #67a54b;
}

.red {
	color: #F44646;
	border-color: #FC7979 #FC7979 #FC7474;
	background: #f7a5a5;
	background: -moz-linear-gradient(top,  #f7a5a5 0%, #f7a5a5 56%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7a5a5), color-stop(56%,#f7a5a5));
	background: -webkit-linear-gradient(top,  #f7a5a5 0%,#f7a5a5 56%);
	background: -o-linear-gradient(top,  #f7a5a5 0%,#f7a5a5 56%);
	background: -ms-linear-gradient(top,  #f7a5a5 0%,#f7a5a5 56%);
	background: linear-gradient(top,  #f7a5a5 0%,#f7a5a5 56%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a5a5', endColorstr='#f7a5a5',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #F4C6C6;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #F4C6C6;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #F4C6C6;
}

.red:active {
	background-color: #FF9999;
}

.blue {
	color: #fefefe;
	border-color: #56AAE2 #56AAE2 #41A0E0;
	background: #88bfe8;
	background: -moz-linear-gradient(top,  #88bfe8 0%, #80bbe5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bfe8), color-stop(100%,#80bbe5));
	background: -webkit-linear-gradient(top,  #88bfe8 0%,#80bbe5 100%);
	background: -o-linear-gradient(top,  #88bfe8 0%,#80bbe5 100%);
	background: -ms-linear-gradient(top,  #88bfe8 0%,#80bbe5 100%);
	background: linear-gradient(top,  #88bfe8 0%,#80bbe5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#80bbe5',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #A7CBE5;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #A7CBE5;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #A7CBE5;
}

.blue:active {
	background-color: #95C4E5;
}

.orange {
	color: #fff;
	border-color: #ED6538 #ED6538 #ED5928;
	background: #f2825b;
	background: -moz-linear-gradient(top,  #f2825b 0%, #ef7a53 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2825b), color-stop(100%,#ef7a53));
	background: -webkit-linear-gradient(top,  #f2825b 0%,#ef7a53 100%);
	background: -o-linear-gradient(top,  #f2825b 0%,#ef7a53 100%);
	background: -ms-linear-gradient(top,  #f2825b 0%,#ef7a53 100%);
	background: linear-gradient(top,  #f2825b 0%,#ef7a53 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#ef7a53',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #ED977B;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #ED977B;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #ED977B;
}

.orange:active {
	background-color: #ED8B6A;
}

.black {
	color: #fff;
	border-color: #2D3949 #2D3949 #343D49;
	background: #7b8389;
	background: -moz-linear-gradient(top,  #7b8389 0%, #6e757a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8389), color-stop(100%,#6e757a));
	background: -webkit-linear-gradient(top,  #7b8389 0%,#6e757a 100%);
	background: -o-linear-gradient(top,  #7b8389 0%,#6e757a 100%);
	background: -ms-linear-gradient(top,  #7b8389 0%,#6e757a 100%);
	background: linear-gradient(top,  #7b8389 0%,#6e757a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b8389', endColorstr='#6e757a',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #9DA6AD;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #9DA6AD;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #9DA6AD;
}

.black:active {
	background-color: #8B959B;
}

.group .init_button{
	margin: 10px 0;
}

.big{
	margin:10px 0;
	padding:10px 0;
}
